/** Roboto **/
@font-face{
	font-family: 'Roboto';
	src: url(../fonts/Roboto/Roboto-Light.ttf);
	font-style: normal;
	font-weight: 300;
}
@font-face{
	font-family: 'Roboto';
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
	font-style: normal;
	font-weight: 400;
}
/** Roboto **/

/** Roboto Mano **/
@font-face{
	font-family: 'Roboto Mono';
	src: url(../fonts/Roboto_Mono/RobotoMono-Light.ttf);
	font-style: normal;
	font-weight: 300;
}
@font-face{
	font-family: 'Roboto Mono';
	src: url(../fonts/Roboto_Mono/RobotoMono-Regular.ttf);
	font-style: normal;
	font-weight: 400;
}
@font-face{
	font-family: 'Roboto Mono';
	src: url(../fonts/Roboto_Mono/RobotoMono-Medium.ttf);
	font-style: normal;
	font-weight: 500;
}
/** Roboto Mano **/

/** Poppins **/
@font-face{
	font-family: 'Poppins';
	src: url(../fonts/Poppins/Poppins-Light.ttf);
	font-style: normal;
	font-weight: 300;	
}

@font-face{
	font-family: 'Poppins';
	src: url(../fonts/Poppins/Poppins-Regular.ttf);
	font-style: normal;
	font-weight: 400;	
}

@font-face{
	font-family: 'Poppins';
	src: url(../fonts/Poppins/Poppins-Medium.ttf);
	font-style: normal;
	font-weight: 500;	
}

@font-face{
	font-family: 'Poppins';
	src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
	font-style: normal;
	font-weight: 600;	
}
/** Poppins **/