/** common **/
body{
	background: linear-gradient(136.05deg, #F5F7FA 0%, #F4F6F8 100%);
}

.header{
	height: 240px;
	background: linear-gradient(201.71deg, #6A79DD 0%, #5866C3 100%);
}
/** common **/


/** dashboard-card **/
.dashboard-card{}

.dashboard-card-bg{
	border-radius: 8px;
	background-color: #FFFFFF;
	box-shadow: 0 4px 16px 0 rgba(0,0,0,0.06);
}

.dashboard-card-card8Col{
	min-height: 248px;
}

.dashboard-card-card4Col{
	min-height: 248px;
}
/** dashboard-card **/


/** dashboard-title **/
.dashboard-title{
	padding-top: 48px;
	padding-bottom: 24px;
}

.dashboard-title-primary{
	font-family: 'Poppins';
	color: #42505C;
	font-size: 20px;
	letter-spacing: 0.25px;
}

.dashboard-title-seeMore{
	font-family: 'Poppins';
}
/** dashboard-title **/


/** header **/
.navigation-desktop{
	padding-top: 39px;
	color: #FFF;
}


.navigation-desktop .notification .bell{
	background-image: url('../images/notification.svg');
	background-repeat: no-repeat;
	position: relative;
	width: 19px;
	bottom: 2px;
	margin-right: 35px;
}
.navigation-desktop .notification .number_notification{
	box-sizing: border-box;
    height: 26px;
    width: 26px;
    border: 2px solid #6573D6;
    background-color: #4C5EBB;
    font-size: 12px;
    border-radius: 16px;
    position: relative;
    left: 10px;
    bottom: 14px;
}
.navigation-desktop .notification .number_notification span{
	display: block;
    position: relative;
    text-align: center;
    top: 2px;
}
.navigation-desktop .wellcome_name{
    margin-right: 11px;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 18px;
    opacity: 0.9;
    letter-spacing: 0.25px;
}
.navigation-desktop .chevron{
	width: 16px;
    height: 16px;
    position: relative;
    bottom: 2px;
}


.navigation-desktop .menu{
    padding-top: 36px;
    font-size: 16px;
}
.navigation-desktop .menu ul{
	padding-inline-start: 0;
}
.navigation-desktop .menu ul li{
	list-style: none;
	display: inline-block;
	margin-right: 18px;
	padding: 3px 17px;
	cursor: pointer;
}
.navigation-desktop .menu ul li.selected{
	background-color: #7480D1;
	border-radius: 17px;
}
.navigation-desktop .menu ul li:hover{
	background-color: #7480D1;
	border-radius: 17px;
}
.navigation-desktop .menu ul li.selected a{
	font-weight: 600;
}
.navigation-desktop .menu ul li a{
	font-family: 'Poppins';
	text-decoration: none;
	font-weight: 300;
	color: #FFF;
	font-size: 18px;
	opacity: 0.9;
}
/** header **/


/** dashboard-content **/
.dashboard-content{
	position: relative;
	bottom: 54px;
}
/** dashboard-content **/