/** common **/
body{
	background: linear-gradient(136.05deg, #F5F7FA 0%, #F4F6F8 100%);
}

.balloon{
	border-radius: 17px;
}
/** common **/


/** dashboard-header **/
.dashboard-header{
	height: 240px;
	background: linear-gradient(201.71deg, #6A79DD 0%, #5866C3 100%);
}
/** dashboard-header **/


/** dashboard-wellcomeBar **/
.dashboard-wellcomeBar{
	padding-top: 39px;
	color: #FFF;
}

.dashboard-wellcomeBar-bell{
	background-image: url('../images/notification.svg');
	background-repeat: no-repeat;
	position: relative;
	width: 19px;
	bottom: 2px;
	margin-right: 35px;
}

.dashboard-wellcomeBar-numberNotification{
	box-sizing: border-box;
    height: 26px;
    width: 26px;
    border: 2px solid #6573D6;
    background-color: #4C5EBB;
    font-size: 12px;
    border-radius: 16px;
    position: relative;
    left: 10px;
    bottom: 14px;
}

.dashboard-wellcomeBar-numberNotification span{
	display: block;
    position: relative;
    text-align: center;
    top: 2px;
}

.dashboard-wellcomeBar-name{
    margin-right: 11px;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 18px;
    opacity: 0.9;
    letter-spacing: 0.25px;
}

.dashboard-wellcomeBar-chevron{
	width: 16px;
    height: 16px;
    position: relative;
    bottom: 2px;
}
/** dashboard-wellcomeBar **/


/** dashboard-menuBar **/
.dashboard-menuBar{
    padding-top: 36px;
    font-size: 16px;
}

.dashboard-menuBar-menu ul{
	padding-inline-start: 0;
}

.dashboard-menuBar-menu ul li{
	list-style: none;
	display: inline-block;
	margin-right: 18px;
	padding: 3px 17px;
	cursor: pointer;
}

.dashboard-menuBar-menu ul li.selected{
	background-color: #7480D1;
	border-radius: 17px;
}

.dashboard-menuBar-menu ul li:hover{
	background-color: #7480D1;
	border-radius: 17px;
}

.dashboard-menuBar-menu ul li.selected a{
	font-weight: 600;
}

.dashboard-menuBar-menu ul li a{
	font-family: 'Poppins';
	text-decoration: none;
	font-weight: 300;
	color: #FFF;
	font-size: 18px;
	opacity: 0.9;
}
/** dashboard-menuBar **/


/** dashboard-card **/
.dashboard-card{}

.dashboard-card-bg{
	border-radius: 8px;
	background-color: #FFFFFF;
	box-shadow: 0 4px 16px 0 rgba(0,0,0,0.06);
}

.dashboard-card-card8Col{
	min-height: 248px;
}

.dashboard-card-card4Col{
	min-height: 248px;
}
/** dashboard-card **/


/** dashboard-title **/
.dashboard-title{
	padding-top: 43px;
	padding-bottom: 24px;
}

.dashboard-title-primary{
	font-family: 'Poppins';
	color: #42505C;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.25px;
}

.dashboard-title-seeMore{
	font-family: 'Poppins';
	color: #79828B;
	font-weight: 300;
	text-transform: uppercase;
	position: relative;
	padding-top: 6px;
}

.dashboard-title-seeMore a{
	color: #79828B;
}
/** dashboard-title **/


/** dashboard-slack **/
.dashboard-slack{
	padding-top: 40px;
}

.dashboard-slack-bg{
	height: 149px;
	background: linear-gradient(201.71deg, #8F9DF8 0%, #92A0FF 100%);
	box-shadow: 0 26px 51px 0 rgba(0,0,0,0.08);
	border-radius: 10px;
}
/** dashboard-slack **/


/** dashboard-content **/
.dashboard-content{
	position: relative;
	bottom: 54px;
}
/** dashboard-content **/


/** dashboard-withChart **/
.dashboard-withChart{
    padding: 19px 9px 19px 9px;
}
/** dashboard-withChart **/


/** dashboard-withoutChart **/
.dashboard-withoutChart{
    padding: 19px 9px 19px 9px;
}

.dashboard-withoutChart hr{
	margin-top: 20px;
	margin-bottom: 20px;
}

.dashboard-withoutChart ul{
	padding-inline-start: 0px;
	position: relative;
	top: 10px;
}

.dashboard-withoutChart ul li{
	font-family: 'Roboto Mono';
	list-style: none;
	padding: 3px 17px;
	display: inline-block;
	color: #8D99A4;
	background-color: #F1F2F3;
	margin-right: 6px;
}

.dashboard-withoutChart-title{
	font-family: 'Poppins';
	text-transform: uppercase;
	font-weight: 400;
	color: #79828B;
	letter-spacing: 1.5px;
	font-size: 14px;
}

.dashboard-withoutChart-rank{
	font-family: 'Poppins';
	color: #42505C;
	font-weight: 400;
	letter-spacing: 0.75px;
	font-size: 30px;
	padding-top: 10px;
}

.dashboard-withoutChart-rank span{
	position: relative;
	top: 3px;
}

.dashboard-withoutChart-description{
	font-family: 'Poppins';
	font-weight: 300;
	font-size: 14px;
	color: #79828B;
}

.dashboard-withoutChart-description span{
	color: #10C172;
}
/** dashboard-withoutChart **/


/** dashboard-projects **/
.dashboard-projects{
	padding: 24px 9px 24px 9px;
}

.dashboard-projects hr{
	margin-top: 20px;
	margin-bottom: 20px;
}

.dashboard-projects-picture{
	float: left;
	width: 35%;
}

.dashboard-projects-picture img{
	width: 48px;
	height: 48px;
}

.dashboard-projects-userInfo{
	float: right;
	width: 65%;
}

.dashboard-projects-name{
	font-family: 'Poppins';
    font-weight: 300;
    color: #42505C;
    font-size: 16px;
    margin-top: 4px;
}

.dashboard-projects-lastAccess{
	font-family: 'Poppins';
	font-weight: 300;
	color: #79828B;
	font-size: 12px;
}

.dashboard-projects-description{
	font-family: 'Poppins';
	color: #42505C;
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	padding-top: 12px;
}

.dashboard-projects-language ul{
	padding-inline-start: 0px;
	margin-top: 10px;
	margin-bottom: 0;
}

.dashboard-projects-language ul li{
	font-family: 'Roboto Mono';
	color: #8D99A4;
	list-style: none;
	padding: 3px 17px;
	display: inline-block;
	font-size: 16px;
	background-color: #F1F2F3;
	margin-right: 6px;
}

.dashboard-projects-coins ul{
	padding-inline-start: 0px;
	margin-bottom: 0;
}

.dashboard-projects-coins ul li{
	font-family: 'Roboto Mono';
	list-style: none;
	padding: 3px 9px;
	display: inline-block;
	font-size: 16px;
	margin-right: 6px;
}

.dashboard-projects-eth{
	color: #6271D2;
	background: rgba(98, 113, 210, 0.1);
}

.dashboard-projects-btc{
	color: #D28E62;
	background: rgba(210, 142, 98, 0.1);
}

.dashboard-projects-currency{
	font-family: 'Poppins';
	color: #42505C;
	font-size: 20px;
	text-align: right;
}
/** dashboard-projects **/

/** dashboard-footer **/
.dashboard-footer{
	position: relative;
	bottom: 22px;
	font-family: 'Poppins';
	font-size: 14px;
	font-weight: 300;
	color: #79828B;
}
/** dashboard-footer **/